<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>User Input Form</h1>
        <form method="post" action="/submit">
            <div class="form-group">
                <label for="textInput">Enter Gross Monthly Income:</label>
                <input type="text" class="form-control" name="gmi" id="textInput" placeholder="Enter Gross Monthly Income">
                <label for="textInput">Credit Card Payment:</label>
                <input type="text" class="form-control" name="ccp" id="textInput" placeholder="Enter Credit Card Payment">
                <label for="textInput">Enter Car Payment:</label>
                <input type="text" class="form-control" name="cp" id="textInput" placeholder="Enter Car Payment">
                <label for="textInput">Enter Student Loan Payments:</label>
                <input type="text" class="form-control" name="slp" id="textInput" placeholder="Enter Student Loan Payments">
                <label for="textInput">Enter Appraised Value:</label>
                <input type="text" class="form-control" name="av" id="textInput" placeholder="Enter Appraised Value">
                <label for="textInput">Enter Down Payment:</label>
                <input type="text" class="form-control" name="dp" id="textInput" placeholder="Enter Down Payment">
                <label for="textInput">Enter Loan Amount:</label>
                <input type="text" class="form-control" name="la" id="textInput" placeholder="Enter Loan Amount">
                <label for="textInput">Enter Monthly Mortgage Payment:</label>
                <input type="text" class="form-control" name="mmp" id="textInput" placeholder="Enter Monthly Mortgage Payment">
                <label for="textInput">Enter Credit Score:</label>
                <input type="text" class="form-control" name="cs" id="textInput" placeholder="Enter Credit Score">
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.min.js"></script>
</body>
</html>